/* цвет основного текста #757575 */
/* вторичный цвет текста (Заголовки) #212121 */
/* белый цвет #FFFFFF */
/* основной цвет фона #E5E5E5 */
/* акцент #2196F3 */
/* вторичный цвет фона #EEEEEE */
/* цвет подвала #2F303A */
/* цвет лого #000000 */
/* цвет фона кнопок #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #fff;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo-color: #000000;
  --button-accent-color: #188ce8;

  --hero-font-weight: 900;
  --title-font-weight: 700;
  --nav-font-weight: 500;
  --text-font-weight: 400;

  --hero-font-size: 44px;
  --title-font-size: 36px;
  --logo-font-size: 26px;
  --button-product-size: 18px;
  --button-font-size: 16px;
  --item-font-size: 14px;
}

.page {
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: var(--text-font-weight);
  font-size: var(--item-font-size);

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  line-height: 1.173;
  letter-spacing: 0.03em;
}
/* стили списков */
.list {
  list-style: none;
  padding: inherit;
}
/* стили списков */
/* cтили ссылок */
.link {
  text-decoration: none;
  font-style: normal;
}
.site-nav .link,
.info .link {
  color: var(--title-text-color);
  font-weight: var(--nav-font-weight);
  letter-spacing: 0.02em;
  line-height: 1.143;
}
.site-nav .link:hover,
.info .link:hover,
.address .link:hover,
.site-nav .link:focus,
.info .link:focus,
.address .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.info .link {
  color: var(--primary-text-color);
}
/* cтили ссылок */
/* лого */
.logo {
  color: var(--logo-color);
  font-family: "raleway";
  font-weight: var(--title-font-weight);
  font-size: var(--logo-font-size);
  line-height: 1.192;
}
.logo-web {
  color: var(--accent-color);
}
/* лого */

/* cтили кнопок */
.button {
  font-family: inherit;
  font-weight: var(--title-font-weight);
  font-size: var(--button-font-size);
  line-height: 1.625;
  border-radius: 4px;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}
.button.primary {
  line-height: 1.875;
  color: var(--primary-white-color);
  background-color: var(--button-accent-color);
  border-color: var(--accent-color);
  filter: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
}
.button.primary:hover,
.filter .button:hover,
.filter .button:focus,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.filter .button {
  font-weight: var(--nav-font-weight);
  letter-spacing: 0.03em;
  border: 1px;
}
/* cтили кнопок */

/* cтили карточек */
.card {
  line-height: 1.188;
  display: inline-block;
}
/* cтили карточек */

/* Section */
.profile-title,
.team-title {
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
  color: var(--title-text-color);
  text-align: center;
  line-height: 1.167;
}
/* Hero */
.hero {
  background-color: var(--footer-color);
}
.hero-title {
  font-weight: var(--hero-font-weight);
  font-size: var(--hero-font-size);
  line-height: 1.364;
  color: var(--primary-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Features */
.features .card {
  width: 270px;
  height: 75px;
}
.features .title {
  font-weight: var(--title-font-weight);
  font-size: var(--item-font-size);
  color: var(--title-text-color);
  text-transform: uppercase;
  line-height: 1.143;
}
.features .text {
  line-height: 1.714;
}

/* Features */

/* Our profile */
.profile.list,
.team.list {
  display: flex;
  justify-content: center;
}

/* Our team */
.team-title,
.profile-title {
  line-height: 1.167;
}
.team.section {
  background-color: var(--secondary-bg-color);
}
.team .card {
  background-color: var(--primary-white-color);
  text-align: center;
  width: 270px;
  height: 368px;
}
.card .name {
  color: var(--title-text-color);
  font-weight: var(--nav-font-weight);
  font-size: var(--button-font-size);
}
.card .position {
  font-size: var(--button-font-size);
}
/* Footer */
.footer {
  line-height: 1.714;
  background-color: var(--footer-color);
}
.location {
  font-style: normal;
}
.footer .logo,
.location {
  color: var(--primary-white-color);
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
}
/* Footer */

/* Portfolio */
.filter.list {
  display: flex;
  justify-content: center;
}
.filter .item {
  display: inline-block;
  line-height: 1.625;
}
.filter .button:hover,
.filter .button:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.product .card {
  border: 1px solid var(--secondary-bg-color);
  background-color: var(--primary-white-color);
}

.product .name {
  color: var(--title-text-color);
  font-weight: var(--title-font-weight);
  font-size: var(--button-product-size);
  line-height: 2;
  letter-spacing: 0.06em;
}
.link .category {
  font-size: var(--button-font-size);
  line-height: 1.875;
  color: var(--primary-text-color);
}
